body {
    background-color: black;
}
#DECISIONS, #THETRUTH, #MONSTER, #THEKEYWORD,#FINDOUT, #welcome{
    color:#36BA01;
    font-family:Consolas, monaco, monospace;
}
#MONSTER, #THEKEYWORD, #FINDOUT {
  background-color: black;
  outline: solid #36BA01;
}
.collapsible {
  background-color:black;
  color:#36BA01;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline:solid #36BA01;
  font-size: 15px;
}
.collapsible:hover {
  background-color:#444;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #444;
}
* {
  color: #36BA01;
  font-family: Consolas, monaco, monospace;
 }
.house {
  color:blue;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  outline: solid #36BA01;
  }
.logo {
      max-width: 100px;
  }
  .info {
      color: #36BA01;
      text-align: right;
  }
main {color: #36BA01; text-align: center;}