body {
    background-color: black;
}
#DECISIONS, #THETRUTH, #MONSTER, #THEKEYWORD,#FINDOUT{
    color:#36BA01;
    font-family:Consolas, monaco, monospace;
}
#MONSTER, #THEKEYWORD, #FINDOUT {
  background-color: black;
  outline: solid #36BA01;
}